.navbar {
    box-sizing: border-box;
  
    position: absolute;
    width: 1200px;
    height: 40px;
    left: 130px;
    top: 20px;
    margin: 10px;
    
    background: #FFFFFF;
  }
  .l1{
    width: 28.6px;
  height: 29.19px;
  
  background: white;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .t1{
    width: 10px;
    height: 18px;

    
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 14.6136px;
    line-height: 18px;
    letter-spacing: -0.30445px;
    text-transform: uppercase;
    
    color: #000000;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin-left: 29vh;
    margin-top: -4vh; */
  }
  .b1{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  
  position: absolute;
  width: 92px;
  height: 44px;
  left: 1194px;
  top: 20px;
  
  background: #000000;
  border-radius: 8px;
  width: 44px;
  height: 14px;
  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .l2{
    
  width: 122.58px;
  height: 16.21px;
  
  background: white;
  transform: matrix(1, 0, -0.26, 0.97, 0, 0);
  
  flex: none;
  order: 3;
  flex-grow: 0;
  }
  .l3{
    width: 96px;
  height: 22px;
  
  background: white;
  
  flex: none;
  order: 2;
  flex-grow:0;
  }
  .Header-Container{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
margin-left: 130px;

width: 463px;
height: 198.51px;
margin-top: 80px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .wrapper{
    width: 463px;
height: 154px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
letter-spacing: -1px;
text-transform: uppercase;

/* TitleDegods */

background: linear-gradient(90deg, #000000 0%, #CBCBCB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
.wrapper1{
    width: 191px;
height: 38px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 38px;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

transform: matrix(1, 0, -0.28, 0.96, 0, 0);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.b2{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 50px;
gap: 8px;

width: 200px;
height: 56px;

background: #000000;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
color:#FFFFFF
}
.col1{
position: absolute;
width: 250px;
height: 100px;
left: 945.14px;
top: 386.82px;

/*                                                                                                                                                                                                                              background: url(new silver card.png); */
transform: matrix(0.65, -0.76, 0.38, 0.93, 0, 0);
}
.img1{
position: absolute;
width: 479.4px;
height: 297.15px;
left: 945.14px;
top: 386.82px;

/* background: url(new silver card.png); */
transform: matrix(0.65, -0.76, 0.38, 0.93, 0, 0);
}
.img2{
position: absolute;
width: 400px;
height: 450px;
left: 720px;
top: 250px;

/* background: url(image.png); */
transform: matrix(0.98, 0.22, 0.35, 0.94, 0, 0);
}
.card{
position: absolute;
width: 889.18px;
height: 759.39px;
left: 40.32px;
top: -100px;
}
.img3{
    position: absolute;
width: 1474.38px;
height: 123px;
left: -18.01px;
top: 841.73px;

background: #FFFFFF,linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
transform: rotate(-0.83deg);
/* position: absolute; */
/* width: 1955px;
height: 2851px;
left: -238px;
top: 863px; */

/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
mix-blend-mode: multiply;

}

  .col1{
    height:5px;
    margin-top: 100px;
    margin-left: 50px;
  }

  .Vector392
  {
    position: absolute;
width: 1474.38px;
height: 123px;
left: -18.01px;
top: 841.73px;

background: #FFFFFF;
transform: rotate(-0.83deg);

  }
  .Vector393{
    position: absolute;
width: 1474.38px;
height: 97.05px;
left: -17.63px;
top: 867.67px;

background: rgba(0, 0, 0, 0.3);
filter: blur(15px);
transform: rotate(-0.83deg);

  }
  .bg{
    position: absolute;
width: 1474.38px;
height: 2851px;
left: -238px;
top: 863px;

  }

  .unsplash{
    position: absolute;
    width: 1474.38px;
    height: 2851px;
    left: -230px;
    top: 863px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    mix-blend-mode: multiply;
    

  }
  .Rectangle4892{
    position: absolute;
width: 1474.38px;
height: 2851px;
left: 230px;
top: 0px;

background:rgb(50, 5, 69);

  }
  .WrappedGraphics1{
    position: absolute;
width: 1474.38px;
height: 123px;
left: 1458.01px;
top: 943.27px;

transform: rotate(179.17deg);
  }

  .Frame1000005885{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 72px;

width: 1140px;
height: 1216px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }

  .BETALAUNCHCARDDETAILS {
    width: 958px;
height: 77px;
margin-top: 100px;
margin-left: 300px;


font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
/* identical to box height */

text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Title2 */

background: linear-gradient(90deg, #FFFFFF 40.73%, #9164FB 119.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .Frame1000005897{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;

width: 1140px;
height: 1067px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .Frame1000005895{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1140px;
height: 405px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .Body1Regular{
    width: 1140px;
height: 51px;
margin-top: 50px;
margin-left: -100px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Frame1000005882{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 1140px;
height: 330px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.image202{
    width: 431px;
height: 266px;
margin-top: -5px;

background: url(card2.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Frame879{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 486px;
height: 175px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Frame880{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 486px;
height: 135px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.BlackPlasticCardDEGODS{
width: 486px;
height: 76px;


font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

background: linear-gradient(92.34deg, #FFFFFF 6.56%, #CBCBCB 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.USDC250{
  width: 486px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.Body{
  width: 486px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.Frame1000005884{
    
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px;
gap: 97px;

width: 1140px;
height: 330px;

background: rgba(255, 255, 255, 0.05);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.Group1000005890{
    width: 431px;
    height: 266px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 

}
.BANK{
   position: absolute;
width: 60px;
height: 23px;
left: 53.05px;
top: 49px;

font-family: 'Arimo Hebrew Subset';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

}
.newblackcard{
    position: absolute;
    width: 431px;
    height: 266px;
    left: 230px;
    top: 285px;
    
    background: url(card1.png);
}
.Frame1000005879{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 548px;
height: 175px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Frame1000005880{
   /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 548px;
height: 135px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.BLACKPlatinumCard{
    width: 548px;
    height: 76px;
    
    font-family: 'Noto Serif Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
background: linear-gradient(92.34deg, #FFFFFF 6.56%, #CBCBCB 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.USDC550{
width: 548px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.Body1-Regular{
    
width: 548px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

background: linear-gradient(92.34deg, #FFFFFF 6.56%, #CBCBCB 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;





/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.Frame1000005894{
    
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1140px;
height: 612px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.Body2Regular{
    width: 1140px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.Frame1000005885{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 72px;

width: 1140px;
height: 1216px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.BodyRegular{
    width: 1140px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.Frame1000005882{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    width: 1140px;
    height: 537px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
}
.Group1000005885{
    width: 431px;
height: 266px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.BANK{
    position: absolute;
width: 60px;
height: 23px;
left: 80.55px;
top: 50px;

font-family: 'Arimo Hebrew Subset';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

}
.card3{
    position: absolute;
    width: 431px;
    height: 266px;
    left: 59.5px;
    top: 32px;
    
    /* background: url(new silver card.png); */
}

.Frame1000005881{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 32px;

width: 550px;
height: 537px;

background: rgba(255, 255, 255, 0.05);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.Frame1000005882{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 32px;

width: 550px;
height: 537px;

background: rgba(255, 255, 255, 0.05);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Frame882{
    
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1140px;
height: 537px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    
}
.USDC550 {

  width: 486px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.Body1Regular12

{
width: 486px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.Frame896{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1140px;
height: 1056.27px;
margin-left: 240px;
margin-top: 50px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.card11{
  
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 12px;

width: 1140px;
height: 64px;

background: rgba(255, 255, 255, 0.1);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.Contact{
width: 270px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */


text-transform: uppercase;

background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.Frame891{
  width: 1140px;
height: 262px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Frame1000005892{
  /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 1140px;
height: 730.27px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.Frame1000005378{
  
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 258px;
height: 262px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.05);
}
.Frame1000005149
{
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 163.35px;
height: 29.19px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.Vector
{
  width: 2.6px;
height: 29.19px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.Backgroundheader{
  position: absolute;
left: 22.63%;
right: 0%;
top: 0%;
bottom: 75.57%;

background: rgba(255, 255, 255, 0.05);

}

  .a1{
    /* Vector 392 */
 /* background-color: #141313; */
 position: absolute;
 width: 1473.38px;
 height: 123px;
 left: -18.01px;
 top: 541.73px;
 margin-top: 200px;
 margin-left: 15px;
 
 background: rgb(50, 5, 69);
 transform: rotate(-1);
}

.Frame1000005378 {
  
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 258px;
height: 262px;
left: 240px;
top: 1320px;

background: rgba(255, 255, 255, 0.05);
}

.Frame1000005887{
  position: absolute;
width: 295px;
height: 198px;
left: 258px;
top: 63px;

background: rgba(255, 255, 255, 0.05);
}
.Frame1000005888{
  position: absolute;
width: 295px;
height: 198px;
left: 553px;
top: 63px;

background: rgba(255, 255, 255, 0.05);
}
.Frame1000005889{
  position: absolute;
width: 295px;
height: 198px;
left: 848px;
top: 63px;

background: rgba(255, 255, 255, 0.05);
}

.HEADER{
  
  position: absolute;
  width: 884px;
  height: 64px;
  left: 258px;
  top: 0px;
  background: rgba(255, 255, 255, 0.05);
  
  
  }
  .PLANTYPE1{
  position: absolute;
  height: 25px;
  left: 80px;  
  top: calc(120% - 24px/2 - 50px);  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  /* identical to box height, or 150% */
  
  background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  }
  .PLANTYPE2{
    position: absolute;
  height: 24px;
  left: 400px;
  
  top: calc(120% - 24px/2 - 50px);
  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  }
  .PLANTYPE3{
  position: absolute;
  height: 24px;
  left: 670px;
  width: 125px;  
  top: calc(120% - 24px/2 - 50px);
  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  }
  .Frame1000005891{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 163.35px;
height: 109.19px;
margin-top: 740px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .Frame1000005149 {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 163.35px;
height: 29.19px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .x1{
    width: 10px;
height: 18px;
margin-top: 60px;
left: 130px;
margin-left: -80px;

font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14.6136px;
line-height: 18px;
letter-spacing: -0.30445px;
text-transform: uppercase;
background: linear-gradient(92.34deg, #FFFFFF 6.56%, #FFFFFF 127.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  




/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  .x2{
    width: 96px;
height: 22px;

margin-top: 140px;
margin-left: -50px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
  }
  .x3{
    position: absolute;
width: 185px;
height: 114px;
left: 55px;
top: 17px;


  }
  .x4{
    position: absolute;
width: 185px;
height: 114px;
left: 55px;
top: 17px;
  }
  .x5{
    position: absolute;
width: 185px;
height: 114px;
left: 55px;
top: 17px;
  }
  .Frame1000005892{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 1140px;
height: 730.27px;
background:rgba(255, 255, 255, 0.05);
margin-top: 130px;
 margin-left: 885px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

  }
  .application1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px;
gap: 10px;


width: 1139px;
height: 64px;


margin-top: -60px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .application2{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 64px;



border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  .application3{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 88px;


border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

  }
  .application4{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 88px;


border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
  }
  .application5{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 64.09px;



border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
  }
.application6{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 64.09px;


border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 5;
flex-grow: 0;
  }
.application7{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 64.09px;

border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 6;
flex-grow: 0;
  }
  .application8{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 10px;

width: 1139px;
height: 64.09px;

border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 6;
flex-grow: 0;
  }
  .application9{
    box-sizing: border-box;

width: 1140px;
height: 110px;

border-top: 1px solid #AAAAAA;

/* Inside auto layout */

flex: none;
order: 7;
flex-grow: 0;
  }
  
  .text1{
    width: 1073px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 10px;
  }
  .text2{
    width: 1073px;
height: 24px;
margin-top: 10px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text3{
    width: 1073px;
height: 48px;
margin-top:10px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text4{
    width: 1073px;
height: 48px;
margin-top: 10px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text5{
    width: 1073px;
height: 24.09px;
margin-top: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text6{
    width: 1073px;
height: 24.09px;
margin-top: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text7{
    width: 1073px;
    height: 24.09px;
    margin-top: 10px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .text8{
    position: absolute;
width: 781px;
height: 50px;
left: 302px;
 margin-top:-9px;
 
 

  }
  .note{
    width: 44px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .text9{
    margin-top: 70px;
    margin-left: 10px;
  }
  .row3{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 150px 0px;
gap: 72px;


position: absolute;
width: 2000px;
height: 806px;
left: 0px;
top: 3675px;
margin-top: 39px;
margin-left: -100px;
  }
  .POSANDONLINEPURCHASES{
    width: 800px;
height: 77px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
/* identical to box height */

text-align: center;
letter-spacing: -1px;
text-transform: uppercase;
margin-top: -500px;
margin-left: -300px;


/* TitleDegods */

 background: linear-gradient(90deg, #000000 0%, #CBCBCB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; 



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

  }
  .row4{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 50px;

margin-left: -200px;

width: 1124px;
height: 357px;



/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  
  .row5{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1124px;
height: 118px;

margin-top: 100px;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: -240px;
  }
 .row6{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 776px;
height: 83px;

margin-top: 150px;
margin-left: -600px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }

 .Button{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 50px;
gap: 8px;


width: 30px;
height: 50px;
margin-left: 320px;
margin-top: 50px;

background: #000000;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
 }
 .apply{
  width: 47px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .row7{
  width: 776px;
height: 51px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 51px;
text-align: center;
letter-spacing: -1px;
text-transform: uppercase;
margin-left: -400px;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .row8{
  width: 776px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
margin-left:-400px ;

color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .box1{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 348px;
height: 118px;

border: 1px solid #AAAAAA;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .box2{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 300px;
height: 70px;

border: 1px solid #AAAAAA;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .box3{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 350px;
height: 118px;
margin-left: -220px;

border: 1px solid #AAAAAA;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
 }
 .bonus{
  width: 300px;
height: 26px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height */
margin-left: 10px;


color: #AAAAAA;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

 }
 .row7{
  width: 300px;
height: 28px;
margin-left: -50px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: -1px;
text-transform: uppercase;

background:  #000000 ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; 


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .row8{
  width: 300px;
height: 26px;
margin-left: -30px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height */

text-transform: uppercase;

color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .row9{
  width: 300px;
height: 28px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: -1px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .row10{
  width: 300px;
height: 26px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height */

text-transform: uppercase;

color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .row11{
  width: 300px;
height: 28px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: -1px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .row12{
  width: 776px;
  height: 51px;
  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  
  /* Solswipe */
  
  background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
 }
 .row13{
  width: 776px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
 }
 .apply{
  width: 47px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 }
 .a3{
  /* Vector 392 */
 background-color: #141313;
 position: absolute;
 width: 1473.38px;
 height: 123px;
 left: -18.01px;
 top: 541.73px;
 margin-top: 3900px;
 margin-left: 10px;
 background: rgb(50, 5, 69);
 transform: rotate(-1);
 }
.big{
 /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 150px 0px;
gap: 32px;
background:rgb(50, 5, 69);
margin-left: -100px;
margin-top: 5px;


position: absolute;
width: 1574px;
height: 505px;
left: 0px;
top: 4557px;
}
.big1{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;


width: 1140px;
height: 117px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.big2{
  width: 1140px;
height: 77px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
/* identical to box height */

text-align: center;
letter-spacing: -1px;
text-transform: uppercase;

/* Title2 */

background: linear-gradient(90deg, #FFFFFF 40.73%, #9164FB 119.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.big3{
  width: 1140px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #AAAAAA;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.big4{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 50px;
gap: 8px;
margin-left: 400px;
margin-top: 50px;

width: 208px;
height: 56px;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.big5{
  width: 108px;
height: 24px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Bullet{
  position: absolute;

left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2);
margin-top: 170px;
margin-left: 50px;
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
width: 200px;



font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */





}
.amount{
  position: absolute;
height: 24px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 24px/2);
margin-top: 170px;
margin-left: 320px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.amount1{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2);
margin-top: 170px;
margin-left: 550px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.amount2{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2);
margin-top: 170px;
margin-left: 780px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.Bullet1{
  position: absolute;
height: 24px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2);
margin-top: 230px;
margin-left: 50px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;




}
.amount3{
  position: absolute;
height: 24px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 24px/2);

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
margin-top:230px ;
margin-left: 330px;

text-align: center;

color: #FFFFFF;

}
.amount4{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2);
margin-top: 230px;
margin-left: 570px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.amount5{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2);
margin-top: 230px;
margin-left: 790px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.Bullet2{
  position: absolute;
height: 48px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 48px/2);
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
margin-top: 310px;
margin-left: 50px;
/* or 150% */



  background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

  
}
.amount6{
  position: absolute;
height: 24px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 24px/2);
margin-top:310px;
margin-left: 320px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.amount7{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2);
margin-top:310px ;
margin-left: 560px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.amount8{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2);
margin-top: 310px;
margin-left: 780px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.Bullet3{
  position: absolute;
height: 24px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2 + 6px);
margin-top: 390px;
margin-left: 50px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.amount9{
  position: absolute;
height: 48px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 48px/2);
margin-top: 390px;
margin-left: 250px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;


}
.amount10{
  position: absolute;
height: 48px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 48px/2);
margin-top: 390px;
margin-left:460px ;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;

  

}
.amount11{
  position: absolute;
height: 48px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 48px/2);
margin-top: 390px;
margin-left: 700px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

color: #FFFFFF;


}
.Bullet4{
  position: absolute;
height: 24px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2 + 0.04px);
margin-top:470px ;
margin-left: 50px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.amount12{
  position: absolute;
height: 24px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 24px/2 - 0.04px);
margin-top: 470px;
margin-left: 320px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.amount13{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2 + 0.04px);
margin-top:470px ;
margin-left: 550px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.amount14{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 470px;
margin-left: 780px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.Bullet5{
  position: absolute;
height: 24px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 535px;
margin-left: 50px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.amount15{
  position: absolute;
  height: 24px;
  left: 26.87%;
  right: 55.58%;
  top: calc(50% - 24px/2 - 0.04px);
  margin-top: 535px;
  margin-left: 250px;
  width: 200px;
  
  font-family: 'Noto Serif Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  text-align: center;
  
  color: #FFFFFF;
  
}
.amount16{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 535px;
margin-left: 470px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.amonut17{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 535px;
margin-left: 780px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.Bullet6{
  
position: absolute;
height: 24px;
left: 1.76%;
right: 79.1%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 600px;
margin-left: 50px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
background:  #FFFFFF ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.amount18{
  position: absolute;
height: 24px;
left: 26.87%;
right: 55.58%;
top: calc(50% - 24px/2 - 0.04px);
margin-top:600px ;
margin-left: 250px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.amount19{
  position: absolute;
height: 24px;
left: 53.03%;
right: 29.41%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 600px;
margin-left: 470px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;

}
.amount20{
  position: absolute;
height: 24px;
left: 78.4%;
right: 4.04%;
top: calc(50% - 24px/2 + 0.04px);
margin-top: 600px;
margin-left: 700px;
width: 200px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

color: #FFFFFF;


}
.Bullet7{
  

}
.text12{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;
margin-left: -300px;
margin-top: -30px;

position: absolute;
width: 170px;
height: 20px;
left: 889px;
top: 32px;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;
}
.text11{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;
margin-top: -30px;
margin-left: -300px;

position: absolute;
width: 170px;
height: 20px;
left: 596px;
top: 32px;

/* Solswipe */

background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
border-radius: 8px;
}
.amount21{

}
.amount22{

}
.text10{
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  margin-top: -30px;
  margin-left: -300px;
  
  position: absolute;
  width: 190px;
  height: 20px;
  left: 302px;
  top: 32px;
  
  /* Solswipe */
  
  background: linear-gradient(92.34deg, #9164FB 6.56%, #D0B450 127.54%);
  border-radius: 8px;
}
.Footer{
 /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 100px 150px 50px;
gap: 20px;

margin-top: 5300px;
height: 400px;
width: 1200px;

position: absolute;
left: 0%;
right: 0%;
top: -2.59%;
bottom: 2.59%;

}
.Footer1{
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;
background: #FFFFFF;
margin-top: -100px;

width: 1140px;
height: 110px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Footer2{
  /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 20px;

width: 1140px;
height: 110px;
background: #9164FB;
margin-top: 400px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.Footer3{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 447px;
height: 110px;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Footer4{
  width: 96px;
height: 22px;

background: #000000;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Footer{
  margin-top: 5300px;
  width: 1800px;
  margin-left: -320px;
  
}
.graphics{
  margin-top: 5050px;
}
.graphics1{
  margin-top: 3400px;

}
